// -------------------------------------------------------------------------- //
// Main
// -------------------------------------------------------------------------- //
html {
    direction: rtl !important;
    font-family: "Alexandria", sans-serif;
}

body {
    background-color: #fbfbfc !important;

    * {
        box-sizing: border-box;
    }
}

.c-row {
    display: flex;
    flex-wrap: wrap;
}