/*------------------------------------------------
    Pinned movie
-------------------------------------------------*/

.pinned-movie {
    height: 578px;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}